* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webcam-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.webcam {
    width: 900px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.2rem;
}